****List Comprehences****

- we can store the output values by using append operations
- we are taking empty list and we are itarating through elements from a given list and the result we are appeding in a new list

In [1]:
sqr_list=[]
for i in range(10):
    sqr_list.append(i*i)
sqr_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
[i*i for i in range (5)]

[0, 1, 4, 9, 16]

In [88]:
[i+3 for i in range(5)]

[3, 4, 5, 6, 7]

- there are alomost 3 lines are in the process
- the there lines we can make into a single line
- this is called as list comprehension

$pattern-1$
**only for loop**

In [2]:
#syntax 
# [<output> <for loop>]

In [ ]:
sqr_list=[]
for i in range(10):
    sqr_list.append(i*i)
sqr_list 
# what is the output?==i*i
# what is the output list name?==sqr_list
#what is the for loop ? for i in range(10)
# [<output> <for loop>]

In [3]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
#Q2 l1 ['hyd','mumbai','chennai',blr]
l1=['hyd','mumbai','chennai','blr']
upper_list=[]
for i in l1:
    i.upper()
    upper_list.append(i.upper())
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [90]:
l1=['hyd','mumbai','chennai','blr']
# we want elements in upper
[i.upper() for i in l1]

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [12]:
l1=['hyd','mumbai','chennai','blr']
upper_list=[i.upper() for i in l1]
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [13]:
l2=['hyd','mumbai','chennai','blr']
lower_list=[i.lower() for i in l2]
lower_list

['hyd', 'mumbai', 'chennai', 'blr']

In [16]:
l3=['hyd','mumbai','chennai','blr']
# sum of the all indexes of all elements
summ=[i for i in range(len(l3))]
summ

[0, 1, 2, 3]

In [23]:
l3=['hyd','mumbai','chennai','blr']
summ=[]
summ=[l3.index(i) for i in l2]
sum(summ)

6

In [94]:
l3=['hyd','mumbai','chennai','blr']
b=[l3.index(i) for i in l3]
sum(b)

6

In [25]:
l3=['hyd','mumbai','chennai','blr']
summ=[]
summ=[i for i in range(len(l3))]
sum(summ)

6

- making empty list will not works in list comprehension
- initialization will not works in list comprehension
- assignment opration also not works
-

$pattern-2$
**For loop -if condition**

In [ ]:
# syntax
# [<output> <for loop> <if condition>]

In [28]:
l3=['hyd','mumbai','chennai','blr']
len_city=[]
for i in range(len(l3)):
    if len(l3[i]) >4:
        print(l3[i])

mumbai
chennai

In [95]:
l3=['hyd','mumbai','chennai','blr']
# element len >4
[i for i in l3 if len(i)>4]

['mumbai', 'chennai']

In [96]:
l3=['hyd','mumbai','chennai','blr']
[i for i in l3 if len(i)<4]

['hyd', 'blr']

In [29]:
l3=['hyd','mumbai','chennai','blr']
len_city=[]
for i in l3:
    if len(i) >4:
        print(i)

mumbai
chennai

In [30]:
l3=['hyd','mumbai','chennai','blr']
[i for i in l3 if len(i)>4]

['mumbai', 'chennai']

In [31]:
l3=['hyd','mumbai','chennai','blr']
[i for i in l3 if len(i)<4]

['hyd', 'blr']

In [32]:
#q3 l1=['hyd','Mum#bai','Chen#nai','blr']
# we want elements which are having #
l1=['hyd','Mum#bai','Chen#nai','blr']
[i for i in l1 if '#' in i]

['Mum#bai', 'Chen#nai']

In [98]:
#q3 l1=['hyd','Mum#bai','Chen#nai','blr']
# we want elements which are having #
l1=['hyd','Mum#bai','Chen#nai','blr']
[i for i in l1 if '#' not in i]

['hyd', 'blr']

In [38]:
#q5 l3=['Hyd','Mumbai','chennai','blr']
# we want elements which are gaing first letter capital
l3=['Hyd','Mumbai','chennai','blr']

[i for i in l3 if i.istitle()]

['Hyd', 'Mumbai']

In [99]:
#q5 l3=['Hyd','Mumbai','chennai','blr']
# we want elements which are gaing first letter capital
l3=['Hyd','Mumbai','chennai','blr']
[i for i in l3 if i .istitle()]

['Hyd', 'Mumbai']

In [44]:
#Q6 l1=['hyd','Mum#bai','Chen#nai','blr']
# we want elements which are having # for loop if cond
l1=['hyd','Mum#bai','Chen#nai','blr']
op=[i for i in l1 if '#' in i ]
op_nt=[i for i in l1 if '#' not in i ]
op_nt
op

['Mum#bai', 'Chen#nai']

In [75]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
l1=str1.split(',')
l1[0][:l1[0].index('.')]
l1[1][:l1[1].index('.')]
l1[2][:l1[2].index('.')]
for i in range(len(l1)):
    print(l1[i][:l1[i].index('.')])

virat
 Rohit
 KL

In [104]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
l1=str1.split(',')
for i in range(len(l1)):
    print(l1[i][l1[i].index('.')+1:l1[i].index('@')])

kohli
sharma
Rahul

In [145]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
l1=str1.split(',')
First_name=[i[:i.index('.')] for i in str1.split(',')]
Secon_name=[i[i.index('.')+1 :i.index('@')] for i in str1.split(',')]
Company=[i[i.index('@')+1:][:i[i.index('@')+1:].index('.')]for i in str1.split(',')]
First_name
Secon_name
Company

['rcb', 'mi', 'lucknow']

**If-else**

In [ ]:
[<ifoutput> <if> <else> <elseoutput> <forloop>]

**even-odd**

In [146]:
for i in range(1,20):
    if i%2==0:
        print(f'even:{i}')
    else:
        print(f'odd:{i}')

odd:1
even:2
odd:3
even:4
odd:5
even:6
odd:7
even:8
odd:9
even:10
odd:11
even:12
odd:13
even:14
odd:15
even:16
odd:17
even:18
odd:19

In [147]:
op_list=[]
for i in range(1,20):
    if i%2==0:
        op_list.append(f'even:{i}')
    else:
        op_list.append(f'odd:{i}')

In [151]:
[ f'even:{i}' if i%2==0 else f'odd:{i}' for i in range(1,20) ]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']