**Loops**

- iterate a piece of code untill the condition satisfy
- we can run a code normally, we can run a code by usding fuction wrapper(functions)
- we can run a code multiple times(loops)
- we can run a code by using condition

In [2]:
a=10
b=20
c=a+b
print(c)

30

In [37]:
if True:
    a=10
    b=20
    c=a+b
    print(c)

30

In [38]:
def add ():
    a=10
    b=20
    c=a+b
    print(c)
add()

30

In [39]:
salary=eval(input("entetr the salary"))
tax_per=eval(input("enter the tax per"))
tax_amount=salary*tax_per/100
print(tax_amount)

entetr the salary 80000
enter the tax 10

8000.0

In [42]:
def tax1():
    salary=eval(input("entetr the salary"))
    tax_per=eval(input("enter the tax"))
    tax_amount1=salary*tax_per/100
    print(tax_amount)
tax1()

entetr the salary 56896
enter the tax 23

8000.0

# for loop
# while loop
# any loop
#    - initial point to start the loop
#   - increment or decrement
#  condition to stop the loop

# For loop

**pattern-1**

**Range(stop**)

In [ ]:
# syntax
# for i in range(<value>):
    # start write your code

- whenever you see the word range it belongs to math family
- inside range we need to provide on e value ex: range(3)
- if you provide only one value then 
- start value=  0
- increment = +1
- last= stop-1
- range(3)
- start value=0
- increment= 1
- last = 3-1=2
- answer= 0 1 2
**note** in python the index always start with zero

In [7]:
for i in range (3):
    print(i)

0
1
2

In [2]:
for i in range(4):
    print(i,end=' ')

0 1 2 3

In [43]:
for i in range(2):
    print(i)

0
1

In [44]:
print(0)
print(1)
print(2)
print(3)
print(4)

0
1
2
3
4

In [46]:
# i want to print hello 5 times
for i in range (5):
    print("hello",end='  ')

hello  hello  hello  hello  hello

In [11]:
# take random number between 1 to 100
# print it is a even number or odd number
# you need to generate 3 random numbers
import math
import random
number=random.randint(1,100)
if number%2==0:
    print(f"{number} is even")
else:
    print(f"{number} is odd")

10 is even

In [48]:
num=random.randint(1,100)
if num%2==0:
    print(f"{num} is even number")
else:
    print(f"{num} is odd number")

43 is odd number

In [50]:
for i in range(4):
    n1=random.randint(1,50)
    if n1%2==0:
        print(f"{n1} is even number")
    else:
        print(f"{n1} is odd number")

13 is odd number
36 is even number
31 is odd number
8 is even number

In [13]:
import random
for i in range(3):
    n2=random.randint(10,50)
    if n2%2==0:
        print(f"The entered value {n2} is even")
    else:
        print(f"The entered value {n2} is odd")

The entered value 24 is even
The entered value 33 is odd
The entered value 23 is odd

In [14]:
for i in range(3):
    number=random.randint(1,100)
    if number%2==0:
        print(f"{number} is even")
    else:
        print(f"{number} is odd")

49 is odd
2 is even
53 is odd

In [14]:
for i in range(5):
    d=random.randint(1,300)
    if d%2==0:
        print(f"even number")
    else:
        print('odd number')

odd number
even number
odd number
odd number
odd number

In [51]:
print(0,end='#')
print(1,end='')
print(2,end='')
print(3,end='')
print(4,end='')

0#1234

In [17]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [53]:
for i in range(4):
    print(i,end='')

0123

In [18]:
# sep : will seperate multiple values in same print statment
# end : combine the multiple print statments

**Pattern-2**

**range(start,stop)
- range(10,20)
- increment=1
- last= stop=20-1=19

In [ ]:
for i in range(2,8):
    print(i)

In [16]:
for i in range (2,8):
    print(i,end=' ')

2 3 4 5 6 7

In [54]:
for i in range (10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [20]:
for i in range (10,20):
    print(i,end=' ')

10 11 12 13 14 15 16 17 18 19

In [18]:
for i in range (1,10):
    print(i*i,end=' ')

1 4 9 16 25 36 49 64 81

In [56]:
for i in range (25,50):
    print(i*i,end='  ')

625  676  729  784  841  900  961  1024  1089  1156  1225  1296  1369  1444  1521  1600  1681  1764  1849  1936  2025  2116  2209  2304  2401

In [21]:
# wap ask the user print the square of the number between 20 to 25
for i in range (20,25):
    print(i*i)

400
441
484
529
576

In [19]:
for i in range(20,25):
    print(i*i,end=" ")

400 441 484 529 576

In [58]:
for i in range (10,30):
    if i%2==0:
        print(f"{i} is even number",end=' ')
    else:
        print(f"{i} is odd number",end=' ')

10 is even number 11 is odd number 12 is even number 13 is odd number 14 is even number 15 is odd number 16 is even number 17 is odd number 18 is even number 19 is odd number 20 is even number 21 is odd number 22 is even number 23 is odd number 24 is even number 25 is odd number 26 is even number 27 is odd number 28 is even number 29 is odd number

In [22]:
for i in range(10,20):
    if i%2==0:
        print(f"{i} is even number",end=' ')
    else:
        print(f"{i} is odd number ",end=' ')

10 is even number 11 is odd number  12 is even number 13 is odd number  14 is even number 15 is odd number  16 is even number 17 is odd number  18 is even number 19 is odd number

In [22]:
# wap ask the user print the number is ever or odd between 10 to 20
for i in range(10,20):
    if i%2==0:
        print(f"{i} is even number")
    else:
        print(f"{i} is odd number")

10 is even number
11 is odd number
12 is even number
13 is odd number
14 is even number
15 is odd number
16 is even number
17 is odd number
18 is even number
19 is odd number

$Pattern-3$
**range(start,stop,step)**
- start value= start values
- step value=if step value is positive : increment
-      last= stop-1
- negetive step valuem
-     if step value is nagative : decrement
-   last= stop+1

In [59]:
for i in range(2,10,2):
    print(i,end=' ')

2 4 6 8

In [24]:
# case 1: 
for i in range(2,20,2):
    print(i,end=" ")
# start=2
# step=+ve 2
# last= stop-1=20-1=19
# 2,4,6,8,10,12,14,16,18

2 4 6 8 10 12 14 16 18

In [25]:
for i in range(50,105,7):
    print(i,end=" ")

50 57 64 71 78 85 92 99

In [61]:
for i in range(1,30,9):
    print(i,end=' ')

1 10 19 28

In [26]:
for i in range(100,1000,150):
    print(i,end=' ==>')

100 ==>250 ==>400 ==>550 ==>700 ==>850 ==>

In [63]:
for i in range(30,20,-3):
    print(i)

30
27
24
21

In [27]:
for i in range(100,1000,150):
    print(i,end=',')

100,250,400,550,700,850,

In [29]:
# case 2
for i in range(2,20,-3):
    print(i,end=' ')

In [30]:
for i in range(2,-20,-3):
    print(i,end=' ')

2 -1 -4 -7 -10 -13 -16 -19

In [65]:
for i in range(10,-10,-2):
    print(i)

10
8
6
4
2
0
-2
-4
-6
-8

In [33]:
# case 3
for i in range(25,5,-2):
    print(i,end=' ')

25 23 21 19 17 15 13 11 9 7

In [66]:
# case 4
for i in range(-20,2,-3):
    print(i,end=' ')

In [67]:
range(3,20,2)
range(3,20,-2)
range(3,-20,2)
range(3,-20,-2)
range(-3,20,-2)
range(-3,-20,-2)
range(20,3,-2)
range(-20,3,-2)
range(-20,-3,-2)

range(-20, -3, -2)

In [72]:
# wap ask the user enter a numbere 3 times
# find the squre of the number
for i in range(3):
    number1=eval(input("enter the number :"))
    print(f"the square of the entered number {number1} is {number1*number1}")

enter the number : 2

the square of the entered number 2 is 4

enter the number : 5

the square of the entered number 5 is 25

enter the number : 8

the square of the entered number 8 is 64

In [23]:
# wap ask the user enter a numbere 3 times
# find the squre of the number
for i in range(3):
    num=eval(input("enter the value"))
    print(f"the square of the {num} is {num*num}")

enter the value 5

the square of the 5 is 25

enter the value 6

the square of the 6 is 36

enter the value 7

the square of the 7 is 49

In [78]:
# print the 14 th table
n2=eval(input("enter the number"))
for i in range (1,11):
    n3=n2*i
    print(f"{n2} * {i} = {n3}")

enter the number 14

14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140

In [81]:
# print the 18th table
num=eval(input("enter the a number"))
for i in range(1,11):
    value=i*num
    print(f"{num} * {i} = {value}")

enter the a number 19

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [26]:
num3=eval(input("enter the number which you want to the table"))
for i in range(1,19):
    value=i*num3
    print(f"{num3} * {i} = {value}")

enter the number which you want to the table 16

16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160
16 * 11 = 176
16 * 12 = 192
16 * 13 = 208
16 * 14 = 224
16 * 15 = 240
16 * 16 = 256
16 * 17 = 272
16 * 18 = 288

In [84]:
# 6th Q:
# find the factor of 75
# step1: irerate the loop = which number factor you want
# step2 : apply if condition
#     cond= devide the number with i
number=eval(input("enter the factor number"))
for i in range (1,75):
    if number%i==0:
        print(f"{i}")

enter the factor number 75

1
3
5
15
25

In [32]:
num5=eval(input("enter the value which factor you want"))
for i in range(1,83):
    if num5%i==0:
        print(f"the factors of the {num5} is {i}")

enter the value which factor you want 56

the factors of the 56 is 1
the factors of the 56 is 2
the factors of the 56 is 4
the factors of the 56 is 7
the factors of the 56 is 8
the factors of the 56 is 14
the factors of the 56 is 28
the factors of the 56 is 56

In [94]:
# 7th q :
# write the sum of the first 10 natural numbers
summ=0
for i in range(1,11):
    summ=summ+i
    print(f"{summ-i}+{i}={summ}")

0+1=1
1+2=3
3+3=6
6+4=10
10+5=15
15+6=21
21+7=28
28+8=36
36+9=45
45+10=55

***Summation wrapper***
- initially we need to keep summ=0
- make sure that do not provide *sum* because sum is a key word
- inside for loop : summ=summ+1

***Note***
- if we print answer from out of for loop, last answer will print

In [95]:
for i in range(3):
    print(i)

0
1
2

In [98]:
summ=0
for i in range(10):
    summ=summ+i
print(summ)

45

In [35]:
summ=0
for i in range (10):
    summ=summ+i
print(summ)

45

In [101]:
# q 8 
# average of first 10 numbers
summ=0
n=eval(input("Enter the number"))
for i in range (1,n+1):
    summ=summ+i
print(f"avarage of first ten numbers is {summ/n}")

Enter the number 20

avarage of first ten numbers is 10.5

In [38]:
# average of first 10 numbers
summ=0
for i in range (15):
    summ=summ+i
    avg=round(summ/15,2)
print(f"the average of the first 15 numbers is {avg}")

the average of the first 15 numbers is 7.0

***Counter wrapper***
- before for loop initialize with count=0
- undert for loop count=count+1
- counter always increase by 1 only

In [111]:
# Q9: Find the number of divisors of 75
n=eval(input("enter the division value"))
count=0
for i in range(1,n+1):
    if n%i==0:
        count=count+1
print(f" the number of divisors of {n} is {count}")

enter the division value 100

 the number of divisors of 100 is 9

In [40]:
# Q9: Find the number of divisors of 75
n6=eval(input("enter the divisible number :"))
count=0
for i in range (1,n6+1):
    if n6%i==0:
        count=count+1
print(f"the number of divisors of {n6} is {count}")

enter the divisible number : 78

the number of divisors of 78 is 8

In [121]:
#.10q
# get a random number between 1 to 10 : num1
# ask the user enter a number : num2
# if n1==n2 then print won
# else print fail
# give three chances
import random
for i in range (3):
    num1=random.randint(1,10)
    num2=eval(input("enter a value between 1 to 10"))
    if num1==num2 :
        print("you won the match")
    else:
        print("you lose the match")

enter a value between 1 to 10 4

you won the match

enter a value between 1 to 10 5

you lose the match

enter a value between 1 to 10 6

you lose the match

In [124]:
# case 2 whenever you won the code should be stop
for i in range (3):
    num1=random.randint(1,10)
    print(num1)
    num2=eval(input("enter a value between 1 to 10"))
    if num1==num2 :
        print("you won the match")
        break
    else:
        print("you lose the match")

9

enter a value between 1 to 10 2

you lose the match
1

enter a value between 1 to 10 1

you won the match

In [43]:
for i in range (5):
    n8=random.randint(1,10)
    n9=eval(input("enter any number between 1 to 10"))
    if n8==n9:
        print("you won the match")
        break
    else:
        print("you lose the match")
        print(f"you left only {5-i} chances")
        if i-5==0:
            print("try after 24 hrs")

enter any number between 1 to 10 3

you lose the match
you left only 5 chances

enter any number between 1 to 10 5

you lose the match
you left only 4 chances

enter any number between 1 to 10 6

you lose the match
you left only 3 chances

enter any number between 1 to 10 7

you lose the match
you left only 2 chances

enter any number between 1 to 10 8

you lose the match
you left only 1 chances

In [129]:
# case 3
# suppose i want to give 4 chances
# every time you fail i want to disply num of chances left
# if all the chances you are used , try after 24 hrs

for i in range (5):
    num1=random.randint(1,10)
    print(num1)
    num2=eval(input("enter a value between 1 to 10"))
    if num1==num2 :
        print("you won the match")
        break
    else:
        print("you lose the match")
        print(f"you have only {5-i} left to win")
        if i-5==0:
            print("try agian after 24 hrs")

1

enter a value between 1 to 10 2

you lose the match
you have only 5 left to win
7

enter a value between 1 to 10 4

you lose the match
you have only 4 left to win
4

enter a value between 1 to 10 4

you won the match

In [135]:
even_count,odd_count=0,0
even_sum,odd_sum=0,0
for i in range (5):
    num=random.randint(1,100)
    if num%2==0:
        even_count=even_count+1
        even_sum=even_sum+num
    else:
        odd_count=odd_count+1
        odd_sum=odd_sum+num
print(f"the total number of evern numbers is {even_count}")
print(f"the total number of odd numbers is {odd_count}")
print(f"the total sum of evern numbers is {even_sum}")
print(f"the total sum of odd numbers is {odd_sum}")

the total number of evern numbers is 2
the total number of odd numbers is 3
the total sum of evern numbers is 116
the total sum of odd numbers is 131

In [136]:
even_count,odd_count=0,0
for i in range (5):
    num=random.randint(1,100)
    if num%2==0:
        even_count=even_count+1
    else:
        odd_count=odd_count+1
print(f"the total number of evern numbers is {even_count}")
print(f"the total number of odd numbers is {odd_count}")

the total number of evern numbers is 4
the total number of odd numbers is 1

In [44]:
even_count1,odd_count1=0,0
for i in range (5):
    num=random.randint(1,100)
    if num%2==0:
        even_count1=even_count1+1
    else:
        odd_count1=odd_count1+1
print(f"the total numbers of even numbers is {even_count1}")
print(f"the total numbers of odd numbers is {odd_count1}")

the total numbers of even numbers is 4
the total numbers of odd numbers is 1

In [138]:
def even_odd ():
    even_count,odd_count=0,0
    even_sum,odd_sum=0,0
    for i in range (5):
        num=random.randint(1,100)
        if num%2==0:
            even_count=even_count+1
            even_sum=even_sum+num
        else:
            odd_count=odd_count+1
            odd_sum=odd_sum+num
print(f"the total number of evern numbers is {even_count}")
print(f"the total number of odd numbers is {odd_count}")
print(f"the total sum of evern numbers is {even_sum}")
print(f"the total sum of odd numbers is {odd_sum}")

the total number of evern numbers is 4
the total number of odd numbers is 1
the total sum of evern numbers is 116
the total sum of odd numbers is 131

In [139]:
even_count,odd_count=0,0
even_sum,odd_sum=0,0
def even_odd ():
    for i in range (5):
        num=random.randint(1,100)
        if num%2==0:
            even_count=even_count+1
            even_sum=even_sum+num
        else:
            odd_count=odd_count+1
            odd_sum=odd_sum+num
print(f"the total number of evern numbers is {even_count}")
print(f"the total number of odd numbers is {odd_count}")
print(f"the total sum of evern numbers is {even_sum}")
print(f"the total sum of odd numbers is {odd_sum}")

the total number of evern numbers is 0
the total number of odd numbers is 0
the total sum of evern numbers is 0
the total sum of odd numbers is 0

**In operator**

In [142]:
string1='python'
'p' in string1
'y' in string1
't' in string1

True

In [141]:
for i in string1:
    print(i)

p
y
t
h
o
n

In [ ]:
for i in string1:
    print(i)

**different between in operator and range operator**
- range belongs to math family inside range we need to keep numbers only
- whever you want to iterate through english letters we need to use in operator
- range means Numbers
- in means strings

In [143]:
'p'>'P'

True

- every english letter
- every special charecter how machine will understand
- machime language always consider as numbers
- every non numeric assign a number
- ASCII:American standard code for information interchange
- A:65,a:97

**ORD,CHR**

In [144]:
A==65===== ob1000001

SyntaxError: invalid syntax (3817404711.py, line 1)

In [145]:
ord('A'),ord('a')

(65, 97)

In [146]:
ord('p'),ord('P')

(112, 80)

In [147]:
'p'>'P'

True

In [148]:
chr(65),chr(97),chr(112),chr(80)

('A', 'a', 'p', 'P')

In [149]:
chr(123)

'{'

In [150]:
chr(100)

'd'

In [151]:
# want python string1 is python
# print all ascii numbers for python
for i in 'python':
    print(f"the ascii number for {i} is {ord(i)}")

the ascii number for p is 112
the ascii number for y is 121
the ascii number for t is 116
the ascii number for h is 104
the ascii number for o is 111
the ascii number for n is 110

In [154]:
sum_ascii=0
for i in 'python':
    sum_ascii=sum_ascii+ord(i)
print(f"the sum of ascii number for {sum_ascii}")

the sum of ascii number for 674

In [156]:
# i want to know all asci number form a to z
ord('a')

97

In [157]:
# package called string
import string

In [158]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [169]:
for i in 'ascii_lowercase':

TypeError: 'str' object cannot be interpreted as an integer

In [167]:
for i in 'python':
    print(f"the ascii number for {i} is {ord(i)}")

the ascii number for p is 112
the ascii number for y is 121
the ascii number for t is 116
the ascii number for h is 104
the ascii number for o is 111
the ascii number for n is 110

In [170]:
for i in string.ascii_lowercase:
    print(f"the ascii number for {i} is {ord(i)}")

the ascii number for a is 97
the ascii number for b is 98
the ascii number for c is 99
the ascii number for d is 100
the ascii number for e is 101
the ascii number for f is 102
the ascii number for g is 103
the ascii number for h is 104
the ascii number for i is 105
the ascii number for j is 106
the ascii number for k is 107
the ascii number for l is 108
the ascii number for m is 109
the ascii number for n is 110
the ascii number for o is 111
the ascii number for p is 112
the ascii number for q is 113
the ascii number for r is 114
the ascii number for s is 115
the ascii number for t is 116
the ascii number for u is 117
the ascii number for v is 118
the ascii number for w is 119
the ascii number for x is 120
the ascii number for y is 121
the ascii number for z is 122

In [171]:
for i in string.ascii_uppercase:
    print(f"the ascii number for {i} is {ord(i)}")

the ascii number for A is 65
the ascii number for B is 66
the ascii number for C is 67
the ascii number for D is 68
the ascii number for E is 69
the ascii number for F is 70
the ascii number for G is 71
the ascii number for H is 72
the ascii number for I is 73
the ascii number for J is 74
the ascii number for K is 75
the ascii number for L is 76
the ascii number for M is 77
the ascii number for N is 78
the ascii number for O is 79
the ascii number for P is 80
the ascii number for Q is 81
the ascii number for R is 82
the ascii number for S is 83
the ascii number for T is 84
the ascii number for U is 85
the ascii number for V is 86
the ascii number for W is 87
the ascii number for X is 88
the ascii number for Y is 89
the ascii number for Z is 90

In [172]:
for i in string.punctuation:
    print(f"the ascii number for {i} is {ord(i)}")

the ascii number for ! is 33
the ascii number for " is 34
the ascii number for # is 35
the ascii number for $ is 36
the ascii number for % is 37
the ascii number for & is 38
the ascii number for ' is 39
the ascii number for ( is 40
the ascii number for ) is 41
the ascii number for * is 42
the ascii number for + is 43
the ascii number for , is 44
the ascii number for - is 45
the ascii number for . is 46
the ascii number for / is 47
the ascii number for : is 58
the ascii number for ; is 59
the ascii number for < is 60
the ascii number for = is 61
the ascii number for > is 62
the ascii number for ? is 63
the ascii number for @ is 64
the ascii number for [ is 91
the ascii number for \ is 92
the ascii number for ] is 93
the ascii number for ^ is 94
the ascii number for _ is 95
the ascii number for ` is 96
the ascii number for { is 123
the ascii number for | is 124
the ascii number for } is 125
the ascii number for ~ is 126

In [174]:
for i in string.ascii_letters:
    print(i,end='')

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [175]:
for i in range (20,150):
    print(i,chr(i),end='==>')

20 ==>21 ==>22 ==>23 ==>24 ==>25 ==>26 ==>27 ==>28 ==>29 ==>30 ==>31 ==>32  ==>33 !==>34 "==>35 #==>36 $==>37 %==>38 &==>39 '==>40 (==>41 )==>42 *==>43 +==>44 ,==>45 -==>46 .==>47 /==>48 0==>49 1==>50 2==>51 3==>52 4==>53 5==>54 6==>55 7==>56 8==>57 9==>58 :==>59 ;==>60 <==>61 ===>62 >==>63 ?==>64 @==>65 A==>66 B==>67 C==>68 D==>69 E==>70 F==>71 G==>72 H==>73 I==>74 J==>75 K==>76 L==>77 M==>78 N==>79 O==>80 P==>81 Q==>82 R==>83 S==>84 T==>85 U==>86 V==>87 W==>88 X==>89 Y==>90 Z==>91 [==>92 \==>93 ]==>94 ^==>95 _==>96 `==>97 a==>98 b==>99 c==>100 d==>101 e==>102 f==>103 g==>104 h==>105 i==>106 j==>107 k==>108 l==>109 m==>110 n==>111 o==>112 p==>113 q==>114 r==>115 s==>116 t==>117 u==>118 v==>119 w==>120 x==>121 y==>122 z==>123 {==>124 |==>125 }==>126 ~==>127 ==>128 ==>129 ==>130 ==>131 ==>132 ==>133 ==>134 ==>135 ==>136 ==>137 ==>138 ==>139 ==>140 ==>141 ==>142 ==>143 ==>144 ==>145 ==>146 ==>147 ==>148 ==>149 ==>

In [177]:
for i in range (3077,3178):
    print(i,chr(i),end='==>')

3077 ==>3078 ==>3079 ==>3080 ==>3081 ==>3082 ==>3083 ==>3084 ==>3085 ==>3086 ==>3087 ==>3088 ==>3089 ==>3090 ==>3091 ==>3092 ==>3093 ==>3094 ==>3095 ==>3096 ==>3097 ==>3098 ==>3099 ==>3100 ==>3101 ==>3102 ==>3103 ==>3104 ==>3105 ==>3106 ==>3107 ==>3108 ==>3109 ==>3110 ==>3111 ==>3112 ==>3113 ==>3114 ==>3115 ==>3116 ==>3117 ==>3118 ==>3119 ==>3120 ==>3121 ==>3122 ==>3123 ==>3124 ==>3125 ==>3126 ==>3127 ==>3128 ==>3129 ==>3130 ==>3131 ==>3132 ==>3133 ==>3134 ==>3135 ==>3136 ==>3137 ==>3138 ==>3139 ==>3140 ==>3141 ==>3142 ==>3143 ==>3144 ==>3145 ==>3146 ==>3147 ==>3148 ==>3149 ==>3150 ==>3151 ==>3152 ==>3153 ==>3154 ==>3155 ==>3156 ==>3157 ==>3158 ==>3159 ==>3160 ==>3161 ==>3162 ==>3163 ==>3164 ==>3165 ==>3166 ==>3167 ==>3168 ==>3169 ==>3170 ==>3171 ==>3172 ==>3173 ==>3174 ==>3175 ==>3176 ==>3177 ==>

In [45]:
for i in range(1,100):
    print(i,chr(i),end='--')

1 --2 --3 --4 --5 --6 --7 --8--9 	--10
--14 --15 --16 --17 --18 --19 --20 --21 --22 --23 --24 --25 --26 --27 --28 --29 --30 --31 --32  --33 !--34 "--35 #--36 $--37 %--38 &--39 '--40 (--41 )--42 *--43 +--44 ,--45 ---46 .--47 /--48 0--49 1--50 2--51 3--52 4--53 5--54 6--55 7--56 8--57 9--58 :--59 ;--60 <--61 =--62 >--63 ?--64 @--65 A--66 B--67 C--68 D--69 E--70 F--71 G--72 H--73 I--74 J--75 K--76 L--77 M--78 N--79 O--80 P--81 Q--82 R--83 S--84 T--85 U--86 V--87 W--88 X--89 Y--90 Z--91 [--92 \--93 ]--94 ^--95 _--96 `--97 a--98 b--99 c--