In [ ]:
# In lambda frumction
# write if -else

**Dictionary**
- we have already seen many data types
- strings
- list
- tuple
- set
- dictionay

In [ ]:
dictionary={key:value}
set={}
str=''
list=[]
tuple=()

**zip**

In [1]:
names=['Ramesh','suresh','sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)

Ramesh 20
suresh 25
sathish 30

In [52]:
names=['Ramesh','suresh','sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)

Ramesh 20
suresh 25
sathish 30

In [2]:
zip(names,age)

In [55]:
tuple(zip(names,age))

(('Ramesh', 20), ('suresh', 25), ('sathish', 30))

In [3]:
list(zip(names,age))

[('Ramesh', 20), ('suresh', 25), ('sathish', 30)]

In [ ]:
dict={<key>:<value>}
names=['Ramesh','suresh','sathish']
age=[20,25,30]
'Ramesh' is the key ==== 20 is its relate value
dict={'Ramesh':20,'suresh':25,'sathis':30}

In [6]:
dict1={'Ramesh':20,'suresh':25,'sathis':30}
type(dict1)

dict

In [56]:
d1={'Balaswamy':31,'Renaiah':28,'shiva kumar':26}
d1

{'Balaswamy': 31, 'Renaiah': 28, 'shiva kumar': 26}

In [ ]:
# if the list are of different length?
# if both list are different
# zip will not work

**Initialization**

**Int to string**

In [7]:
dict1={1993:'balaswamy',1995:'Renaiah',1999:'Shiva kumar'}

In [8]:
dict1

{1993: 'balaswamy', 1995: 'Renaiah', 1999: 'Shiva kumar'}

**List to String**
- list is mutable so we can not use the list as the keys

In [10]:
dict2={[123]:'BRS',}

TypeError: unhashable type: 'list'

In [12]:
dict2={'BRS':[123]}

In [13]:
dict2

{'BRS': [123]}

In [15]:
d2={'BRS':'brs'}
d2

{'BRS': 'brs'}

In [16]:
d3={25:36}
d3

{25: 36}

In [18]:
d4={23:['brs']}
d4

{23: ['brs']}

In [19]:
d4={('Apple'):'Fruit'}
d4

{'Apple': 'Fruit'}

In [20]:
d5={'bala':30,'bala':36}
d5

{'bala': 36}

In [22]:
d6={30:'bala',36:'bala'}
d6

{30: 'bala', 36: 'bala'}

In [23]:
d7={'fruit':{'Apple'}}
d7

{'fruit': {'Apple'}}

**Key are Important**
- keys should be only one
- keys have only latest value
- no duplicate keys
- value can be duplicate
- which means different keys can have same value
- list can not be a key, because list are mutable
- tuple can be a key,because tuple are immutable

In [27]:
d1={'Ramesh':20,'suresh':25,'sathis':30}
max(d1)
# Operation apply on key

'suresh'

'suresh'

In [59]:
d1={'Ramesh':20,'suresh':25,'sathis':30}
d2={20:'Ramesh',25:'suresh',30:'sathis'}
d3={20:'Ramesh',20:'suresh',20:'sathis'}
d4={20:'Ramesh','20':'suresh',20:'sathis'}
d5={'20':'Ramesh','20':'suresh','20':'sathis'}
d6={20:'Ramesh','20':'suresh',20:'sathis'}

In [44]:
d1={'Ramesh':20,'suresh':25,'sathis':30}
sorted(d1)

['Ramesh', 'sathis', 'suresh']

In [43]:
d1={'Ramesh':20,'suresh':25,'sathis':30}
list(reversed(d1))

['sathis', 'suresh', 'Ramesh']

In [61]:
d1={'Ramesh':20,'suresh':25,'sathis':30}
list(reversed(d1))

['sathis', 'suresh', 'Ramesh']

In [46]:
d1={'Ramesh':20,'suresh':25,'sathis':30}
for i in d1:
    print(i)

Ramesh
suresh
sathis

**Index**

In [255]:
d1={'Ramesh':20,'suresh':25,'sathis':30}
# if you want retrive the values
# python will never give 'Ramesh':20
d1['Ramesh']

20

In [49]:
d1={'Ramesh':20,'suresh':25,'sathis':30}
d1['Ramesh']

20

In [47]:
'Ramesh' in d1

True

In [41]:
min(d5)

'20'

In [42]:
min(d4)

TypeError: '<' not supported between instances of 'str' and 'int'

In [39]:
min(d3)

'Ramesh'

In [38]:
min(d2)

20

In [37]:
min(d1)

'Ramesh'

In [36]:
d6={20:'Ramesh','20':'suresh',20:'sathis'}
max(d6)

TypeError: '>' not supported between instances of 'str' and 'int'

In [35]:
d5={'20':'Ramesh','20':'suresh','20':'sathis'}
max(d5)

'20'

In [34]:
d4={20:'Ramesh','20':'suresh',20:'sathis'}
max(d4)

TypeError: '>' not supported between instances of 'str' and 'int'

In [29]:
d2={20:'Ramesh',25:'suresh',30:'sathis'}
max(d2)

30

In [30]:
d3={'Ramesh':20,'suresh':20,'sathis':20}
max(d3)

'suresh'

In [32]:
d2={20:'Ramesh',20:'suresh',20:'sathis'}
max(d2)

20

In [33]:
d2

{20: 'sathis'}

In [62]:
d3={'Ramesh':20,'suresh':20,'sathis':20}
# Dictionary is a key:value pair
# we can not use index directly
# whenever you want to call a value,we will use key
d3['Ramesh']

20

In [64]:
for i in d3:
    print(f'{i} has age {d1[i]}')

Ramesh has age 20
suresh has age 25
sathis has age 30

In [66]:
name=['Vignesh','Mohith','Nagesh']
age=[20,25,30]
for i,j in zip(name,age):
    print(f'{i} has age {j}')

Vignesh has age 20
Mohith has age 25
Nagesh has age 30

**Dictionary to list**

In [68]:
d3={'Ramesh':20,'suresh':20,'sathis':20}
key,value=[],[]
for i in d3:
    key.append(i)
    value.append(d3[i])
value

[20, 20, 20]

In [254]:
dd={'Ramesh':20,'suresh':20,'sathis':20}
key,value=[],[]
for i in dd:
    key.append(i)
    value.append(dd[i])
type(key)

list

In [69]:
keys=[i for i in d3]
values=[d3[i] ]

In [ ]:
**how to

In [70]:
l=[]
l.append(20)
l

[20]

In [ ]:
*empty string*

In [71]:
s=''
s=s+'a'
s

'a'

In [ ]:
*empty dictionary*

In [ ]:
d={}
d[{<key>}]=<values>

In [74]:
d={}
d['B']=30
d['R']=20
d['S']=20

{'B': 30, 'R': 20, 'S': 20}

In [76]:
name=['Vignesh','Mohith','Nagesh']
age=[20,25,30]
names={}
for i,j in zip(name,age):
    names[i]=j
names

{'Vignesh': 20, 'Mohith': 25, 'Nagesh': 30}

**String to list**

In [78]:
s='Hello hai hai how how are you'
s.split()

['Hello', 'hai', 'hai', 'how', 'how', 'are', 'you']

**Word frequency**

In [81]:
s='Hello hai hai how how are you'
# o/p:{'hello':1,'hai':2,how:2,'are':1,'you':1}
# step1:split the string: list of words
# step2: Iterate using the list
#        each word will come apply the count
#        wordlist=[],countlist=[]
#        make dict
words_list=s.split()
dict1={}
for word in words_list:
    dict1[word]=s.count(word)
dict1

{'Hello': 1, 'hai': 2, 'how': 2, 'are': 1, 'you': 1}

In [241]:
s='Hello hai hai hai hai how how how hwo are are are you you you'
words=s.split()
d1={}
for word in words:
    d1[word]=s.count(word)
d1

{'Hello': 1, 'hai': 4, 'how': 3, 'hwo': 1, 'are': 3, 'you': 3}

In [251]:
s='Hello hai hai hai hai how how how hwo are are are you you you'
wordss=s.split()
l={}
for word in wordss:
    l[word]=s.count(word)
l

{'Hello': 1, 'hai': 4, 'how': 3, 'hwo': 1, 'are': 3, 'you': 3}

**Mutable-Immutable**
- change the elements using index
- but in dictionary there is not index
- In dictionary we will change the value base on key only
- instead of using the index chnage the values using key
- if it is changing it is mmutable
- if it is not change it is immutable

In [82]:
d1={'Ramesh':20,'suresh':25,'sathis':30}
d1['Ramesh']=22
d1

{'Ramesh': 22, 'suresh': 25, 'sathis': 30}

- list and dictionary are mutable
- tuple and strings are immutable
- difference between list and tuple

In [84]:
d={'Fruites':['Mango']}
d['Fruites'][0]

'Mango'

In [86]:
d={'Fruites':[{'apple':['kashmir']}]}
d

{'Fruites': [{'apple': ['kashmir']}]}

In [94]:
d['Fruites'][0]['apple'][0]

'kashmir'

In [233]:
d={'Fruites':[
    {'apple':
    {'kashmir':
     ['india']
     }
    }
   ]
  }
d
d['Fruites'][0]['apple']['kashmir'][0]

'india'

In [228]:
d={'Fruits':{'Benganpally':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d

{'Fruits': {'Benganpally': {'Mango': {'Nagpur': {'MH': {'Shivaji': {'Shambaji'}}}}}}}

In [112]:
d['Fruits']['Benganpally']['Mango']['Nagpur']['MH']['Shivaji']

{'Shambaji'}

**Dictionary Methods**

In [ ]:
dir ('') # string methods
dir([]) # List methods
dir(()) # tuple methods
dir({}) # Dictionary methods

In [ ]:
strings
list
tuple
dictionary all are class objects

In [118]:
print(type(''))

<class 'str'>

**Items-keys-values**

In [120]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}

In [121]:
d.items()

dict_items([('Vignesh', 30), ('Mohith', 35), ('Nagesh', 40)])

In [122]:
d.keys()

dict_keys(['Vignesh', 'Mohith', 'Nagesh'])

In [123]:
d.values()

dict_values([30, 35, 40])

In [134]:
# we already lean how to make a list from dictionary
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
key,vlues=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])
value

Vignesh 30
Mohith 35
Nagesh 40

[20, 20, 20]

In [128]:
d.keys()

dict_keys(['Vignesh', 'Mohith', 'Nagesh'])

In [130]:
type(d.keys())

dict_keys

In [135]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
list(d.keys()),list(d.values())

(['Vignesh', 'Mohith', 'Nagesh'], [30, 35, 40])

- Dictionary keys will give dictionary keys  items in a list
- it looks like a list , but it is not a list
- which means we can not apply list methods
- so we need to convert into list type by using the list type casting

In [136]:
d1={23:'python',25:'ml',30:'dl'}
list(d1.keys()),list(d1.values())

([23, 25, 30], ['python', 'ml', 'dl'])

In [137]:
type(list[d.keys()])

types.GenericAlias

**Method-1**

In [138]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
key,vlues=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])
value

Vignesh 30
Mohith 35
Nagesh 40

[20, 20, 20]

In [222]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
key,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])
keys
values

Vignesh 30
Mohith 35
Nagesh 40

[30, 35, 40]

**Method-2**

In [147]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
keys=list(d.keys())
values=list(d.values())
keys
values

[30, 35, 40]

**Method-3**

In [140]:
d.items()

dict_items([('Vignesh', 30), ('Mohith', 35), ('Nagesh', 40)])

In [142]:
for i in d.items():
    print(i)

('Vignesh', 30)
('Mohith', 35)
('Nagesh', 40)

In [ ]:
a=10,20 # works
a,b=10,20 # works
a,b=10 # Fail

In [143]:
for i,j in d.items():
    print(i,j)

Vignesh 30
Mohith 35
Nagesh 40

In [144]:
keys,value=[],[]
for i ,j in d.items():
    print(i,j)
    keys.append(i)
    values.append(j)
keys,values

Vignesh 30
Mohith 35
Nagesh 40

(['Vignesh', 'Mohith', 'Nagesh'], [30, 35, 40, 30, 35, 40])

In [145]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [154]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
d.clear()

In [155]:
d

{}

In [159]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
d.copy()

{'Vignesh': 30, 'Mohith': 35, 'Nagesh': 40}

In [163]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
d.fromkeys('Vignesh',30)

{'V': 30, 'i': 30, 'g': 30, 'n': 30, 'e': 30, 's': 30, 'h': 30}

In [164]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
d.get('Mohith')

35

In [166]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
d.get('Nagesh')

40

In [167]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
d.items()

dict_items([('Vignesh', 30), ('Mohith', 35), ('Nagesh', 40)])

In [171]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
d.pop('Vignesh')
d

{'Mohith': 35, 'Nagesh': 40}

In [178]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
d.popitem()

('Nagesh', 40)

In [180]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
d.setdefault('Vignesh',30)

30

In [181]:
d

{'Vignesh': 30, 'Mohith': 35, 'Nagesh': 40}

In [237]:
d={'Vignesh':30,'Mohith':35,'Nagesh':40}
len(d)
d.update(['Vignesh',45])

ValueError: dictionary update sequence element #0 has length 7; 2 is required