In [2]:
num1=100
num2=200
add=num1+num2

**Input keyword**
- Input keyword is used to take the values from user

In [4]:
input()

 100

'100'

In [5]:
input()

 python

'python'

In [6]:
input()

 python is a programming language

'python is a programming language'

In [7]:
input("enter the name of employee:")

enter the name of employee: Balaswamy

'Balaswamy'

In [8]:
input()
input()

 12
 34

'34'

In [9]:
input()
input()
input()
input()
input()

 12
 12
 12
 12
 12

'12'

In [10]:
input("enter the number1:")
input("enter the number2:")
input("enter the number3:")

enter the number1: 500
enter the number2: 100
enter the number3: 100

'100'

In [11]:
input("enter the number1:")

enter the number1: 35

'35'

In [12]:
num1=input("enter the number1:")

enter the number1: 50

In [13]:
num2=input("enter the number2:")

enter the number2: 56

**Note**
- Input always will give the string data type only
- In order to perform math calculation we need to convert into numercal fromat i.e.int or float

In [15]:
a=input("enter the number:")

enter the number: 7678

In [16]:
num1=input("enter the number1:")
num2=input("enter the number2:")
num1+num2

enter the number1: 100
enter the number2: 200

'100200'

In [19]:
num1=int(input("enter the number1:")) #num1=int('100')
num2=int(input("enter the number2:"))  #num2=int('200')
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

enter the number1: 100
enter the number2: 200

the addition of 100 and 200 is 300

In [26]:
int(num1=input("enter the number1:"))

enter the number1: 100

TypeError: 'num1' is an invalid keyword argument for int()

**Eval**
- eval will take the whatever the number we enter eval will convetrt to corrsponding data type

In [28]:
num1=eval(input("enter the number1:")) #num1=int('100')
num2=eval(input("enter the number2:"))  #num2=int('200')
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

enter the number1: 100
enter the number2: 200

the addition of 100 and 200 is 300

In [29]:
num1=eval(input("enter the number1:")) #num1=int('100')
num2=eval(input("enter the number2:"))  #num2=int('200')
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

enter the number1: 100.5
enter the number2: 200.5

the addition of 100.5 and 200.5 is 301.0

In [30]:
# as the user enter 3 numbers to calculate the average
# ask the user enter the 2 number find the substraction,addition,multiply and division
# ask the user enter the radius values find the area of the circle
# ask the use bill amount
# ask the user hou much tip you want to pay in percentage
# calculate total bill
# ask the user bill amount in dollars
# ask the user one dollar
# print the bill amount in rupees
# ask the user enter base height caluculate area of the traingle
# ask the user length and breadth calculate area of the rectangle

In [35]:
# as the user enter 3 numbers to calculate the average
a=eval(input())
b=eval(input())
c=eval(input())
average=(a+b+c)/3
print(f"The average of {a},{b} and {c} is {average} ")

 100
 200
 300

The average of 100,200 and 300 is 200.0