In [1]:
print(10)

10

In [34]:
print(10)

10

In [2]:
print('Python')

Python

In [35]:
print('python')

python

In [3]:
print(10,20,30)

10 20 30

In [36]:
print(12,34,45)

12 34 45

In [4]:
print(10,10.5,'naresh it',True)

10 10.5 naresh it True

In [37]:
print(23,34,23,'tittu',False)

23 34 23 tittu False

In [6]:
n1= 10
n2=20
print(n1,n2)

10 20

In [38]:
n1 =10
n2= 20
print(n1,n2)

10 20

In [7]:
print (10,20,30)
print(10),print(20)

10 20 30
10
20

(None, None)

In [9]:
a=10
b=20
c=a+b
c 
#the addition of 10 and 20 is 30
print ("the addition of 10 and 20 is 30")

the addition of 10 and 20 is 30

In [39]:
a=23
b=22
c=a+b
print("the addition of 23 and 22 is 45")

the addition of 23 and 22 is 45

In [40]:
print("The addition of {} and {} is {}".format(a,b,c))

The addition of 23 and 22 is 45

**fomat method**

In [11]:
a= 100
b= 200
c=a+b
print("the addition of {} and{} id {}".format(a,b,c))

the addition of 100 and200 id 300

In [12]:
# read your name
# read you age
# read your city
# Myname is python, am 10 years old im from hyderabad

In [13]:
name = "Python"
age =10
city = "hyd"
print("my name is python,am 10 years old and i am from hyd")

my name is python,am 10 years old and i am from hyd

In [15]:
print("my name is {},am {} years old and i am from {}".format (name,age,city))

my name is Python,am 10 years old and i am from hyd

In [16]:
#employee name
# emplyee role
# employee

In [33]:
employee= "Balaswamy"
employeerole = "Team lead"
company= "Bny mellon"
print("My name is balaswamy, my current role is team lean and my company is bny mellon")

My name is balaswamy, my current role is team lean and my company is bny mellon

**f string Method**

In [22]:
print("my name is {name},am {age} years old and i am from {city}")

my name is {name},am {age} years old and i am from {city}

In [23]:
print(f"my name is {name},am {age} years old and i am from {city}")

my name is Python,am 10 years old and i am from hyd

In [31]:
employee_name='Balaswamy'
employee_role='team lead'
company='bny mellon'
print('My name is Balaswamy, my role is team lead and i am working in bny mellon')

My name is Balaswamy, my role is team lead and i am working in bny mellon

In [32]:
print('My name is{},my role is {} and i working in {}'.format(employee_name,employee_role,company))

My name isBalaswamy,my role is team lead and i working in bny mellon

In [41]:
str(100)

'100'

In [42]:
str(True)

'True'

In [5]:
num1=100
num2=200
average=(num1+num2)/2

In [6]:
print("The average of {} and {} is {}".format(num1,num2,average))

The average of 100 and 200 is 150.0

In [7]:
print(f"The average of {num1} and {num2} is {average}")

The average of 100 and 200 is 150.0

In [ ]:
**common Mistakes**
- spelling of fromat

In [8]:
# take the radius of circle
# take the pi value= 3.14
# find the area of the circle = pi*r*r
radius=10
pi=3.14
area=pi*radius*radius

print("the area of circle is {}".format(area))

the area of circle is 314.0

In [9]:
# take the base of the tringle
# take the height of the traingle
# area of the traingle = 1/2*base*hight
base= 10
height =20
area= 1/2*base*height
print("the area of the traingle is {}".format(area))

the area of the traingle is 100.0

In [11]:
print(f"the area of the traingle is {area}")

the area of the traingle is 100.0

In [13]:
# Take the bill amount
# take the tip percent
# calculate tip amount
# calculate the total bill

bill_amount=5643
tip_per=23
tip_bill=bill_amount*tip_per/100
Total_bill=bill_amount+tip_bill
print("the total bill of the food is {}".format(Total_bill))

the total bill of the food is 6940.89

In [16]:
print(f"the total bill the food is: {Total_bill}")

the total bill the food is: 6940.89

In [17]:
print(10)
print(20)

10
20

In [18]:
print(10,20)

10 20

**End operator**

In [21]:
print(10,end='')
print(20)

1020

In [22]:
print(10,end=' &')
print(20)

10 &20

In [25]:
print(10,end=' ')
print(20,end='@')
print(30,end='%')
print(40,end='&')

10 20@30%40&

In [26]:
print(10,20,30)

10 20 30

**Seperator**

- Seperate the multiple values in a single print statemtnt

In [31]:
print(10,20,30,sep=' & ')

10 & 20 & 30

In [32]:
print(10,20,30,sep=' ---> ')

10 ---> 20 ---> 30

In [34]:
print(f"the addition of {5} and {3} is:  {5+3}")

the addition of 5 and 3 is:  8

In [35]:
print("the addtiontion {} and {} is {}.".format(5,3,8))

the addtiontion 5 and 3 is 8.

In [36]:
print("the addition of 5 and 3 is 8",'.',sep=' ')

the addition of 5 and 3 is 8 .